mixin Advantages()
    .advantages
        ul.advantages__list
            li.advantages__list-item="13 благоустроенных домов"
            li.advantages__list-item="150 километров от Абакана"
            li.advantages__list-item="Wi-fi: всегда будьте на связи"
        .advantages__social
            p.advantages__social-text="ВСЕ АКТУАЛЬНЫЕ"
            p.advantages__social-text="НОВОСТИ И АКЦИИ ЗДЕСЬ"
            img.advantages__social-img(src="../../assets/img/phone.png")
            a.advantages__social-link(src="mock-me" target="_blank" rel="noopener noreferrer")
                img(src="../../assets/img/vk.svg")
