mixin Footer()
    footer.footer
        .footer__container
            .footer__column
                .footer__inner
                    img(src='../../assets/img/logo.png').footer__logo
                    .footer__desktop-text
                        .footer__questions="Остались вопросы?"
                        a(href="mailto:sugeshbron@gmail.com").footer__feedback="Обратная связь"
            .footer__column
                .footer__subtitle="E-mail:"
                a(href="mailto:sugeshbron@gmail.com").footer__email="sugeshbron@gmail.com"
                .footer__socials-wrapper
                    a(href="https://vk.com/sugesh" target="_blank" rel="noopener noreferrer")
                        img(src="../../assets/img/VK.svg")
                    a(href="https://instagram.com/sugesh.ru/" target="_blank" rel="noopener noreferrer")
                        img(src="../../assets/img/instagram.svg")
            .footer__column.footer__column_phone
                .footer__subtitle="Телефон:"
                a(href="tel:+79833779577").footer__number!="+7 983 377-95 77</br>(Единый номер отдела заботы)"
                a(href="tel:+79833779577").footer__number!="+7 983 377-95 77</br>(Единый номер отдела бронирования)"
            .footer__column.footer__column_right
                .footer__responsive-text
                    .footer__questions="Остались вопросы?"
                    a(href="mailto:sugeshbron@gmail.com").footer__feedback="Обратная связь"
                .footer__promo='Используем продукты “Прибавка”'
                a(href="https://pribavka.su" target="_blank" rel="noopener noreferrer").footer__external="www.pribavka.su"
                a(href="https://vk.com/pribavka_bio" target="_blank" rel="noopener noreferrer").footer__external="vk.com/pribavka_bio"
