mixin Footer()
    footer.footer
       .footer__left
            img(src='../../assets/img/footerLogo.svg').footer__logo
            ul.footer__promo
                li.footer__promo-item='Используем продукты “Прибавка”'
                li.footer__promo-item
                    a(href="https://pribavka.su" target="_blank" rel="noopener noreferrer")="www.pribavka.su"
                li.footer__promo-item
                    a(href="https://vk.com/pribavka_bio" target="_blank" rel="noopener noreferrer")="vk.com/pribavka_bio"
       .footer__right
           ul.footer__promo
               li.footer__promo-item='© 2022 Горнолыжный комплекс Сюгеш'
               li.footer__promo-item
                   a(href="tel:89833779577")="8-983-377-95-77"
               li.footer__promo-item
                   a(href="mailto:sugeshbron@gmail.com")="sugeshbron@gmail.com"
