mixin Agency()
    .agency
        h2.agency__title='Представительство'
        .agency__inner
            .agency__inner-item
                .agency__inner-title='г. Абакан:'
                .agency__inner-text!='Ул. Торосова, д. 7б, ТЦ Кристалл</br> Телефоны: <a href="tel:+79232181077">8-923-218-10-77</a>'
            .agency__inner-item
                .agency__inner-title='г. Саяногорск:'
                .agency__inner-text!='Ул. Шушенская, стр. 18 ТРЦ «Спутник» 2 этаж.</br> Телефоны:</br><a href="tel:+79617458880">8-961-745-88-80</a></br><a href="tel:+79832783888">8-983-278-3888</a>'
