mixin Agency()
    .agency
        h2.agency__title='Представительство'
        .agency__inner
            .agency__inner-item
                .agency__inner-title='г. Абакан:'
                .agency__inner-text!='ул. Белоярская стр.50, 2 этаж, офис 4. телефоны: 8-983-054-0876;</br>8-902-012-0262.'
            .agency__inner-item
                .agency__inner-title='г. Саяногорск:'
                .agency__inner-text!='ул. Шушенская, стр. 18 ТРЦ «Спутник» 2 этаж, </br>телефон: 8-983-278-3888'
