mixin InfoCard({text = '', title = '', img = '', isRight = false, defaultCover =  true} = {})
    -
        const infoCardModifier = isRight ? 'infoCard_direction_right' : ''
        const withDefaultCover = defaultCover ? '' : 'infoCard_cover_other'
    .infoCard(class=infoCardModifier class=withDefaultCover)
        if title
            h3.infoCard__title!=title
        div.infoCard__wrapper
            p.infoCard__text!=text
        if img
            img(src=img).infoCard__img
